@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.woff2') format('woff2'),
        url('../fonts/roboto.woff') format('woff'),
        url('../fonts/roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}